.creditsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding-left: 0;
}

.creditsListItem {
    height: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #808080;
    overflow: hidden;
}